<!-- public/views/signup.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
</head>

<body>
    <form onsubmit="signup(event)" id="signupId">
        <label for="name">Username:</label>
        <input type="text" name="name" id="name" />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />

        <label for="number">Phone number:</label>
        <input type="number" name="number" id="number" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <button type="submit">Signup</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <a href="/login">Already a user? Login here</a>

    <!-- Link to external JS file -->
    <script src="../js/signup.js"></script>
</body>

</html>